@font-face {
    font-family: font1;
    src: url(../assets/fonts/FBVwdDflz-iPfoPuIC2iKgEB_UBFJg.woff2);
}

@font-face {
    font-family: font2;
    src: url(../assets/fonts/FBVwdDflz-iPfoPuIC2iKh0C_UBFJg.woff2);
}

@font-face {
    font-family: font3;
    src: url(../assets/fonts/FBVwdDflz-iPfoPuIC2iKlUE_UBFJg.woff2);
}

@font-face {
    font-family: font4;
    src: url(../assets/fonts/FBVwdDflz-iPfoPuIC2iKnkD_UBFJg.woff2);
}

@font-face {
    font-family: font5;
    src: url(../assets/fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2);
}

@font-face {
    font-family: font6;
    src: url(../assets/fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2);
}

@font-face {
    font-family: font7;
    src: url(../assets/fonts/KFOmCnqEu92Fr1Mu4mxK.woff2);
}

@font-face {
    font-family: font8;
    src: url(../assets/fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2);
}

@font-face {
    font-family: font9;
    src: url(../assets/fonts/modules.ttf);
}

@font-face {
    font-family: font10;
    src: url(../assets/fonts/nunito-v8-latin-700.woff2);
}

@font-face {
    font-family: font11;
    src: url(../assets/fonts/nunito-v8-latin-regular.woff2);
}

@font-face {
    font-family: font12;
    src: url(../assets/fonts/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2);
}

@font-face {
    font-family: font13;
    src: url(../assets/fonts/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2);
}

@font-face {
    font-family: font14;
    src: url(../assets/fonts/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2);
}

@font-face {
    font-family: font15;
    src: url(../assets/fonts/S6uyw4BMUTPHjx4wXg.woff2);
}